<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Visualisation</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>




    <div class="mainDiv wider">


        <div class="split-maindiv">
            <div class="editor-field">
                <label>
                    Select dataset to visualise
                </label>
                <select id="dataset-select" onchange="switchDataset(this)">
                    <option>

                    </option>
                </select>
            </div>
            <div class="preview-field">
                <div class="chart-field">

                </div>
            </div>
        </div>
    </div>

</body>

<script>

    function switchDataset(select)
    {
        const value = select.value;



    }

</script>

</html>